<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Registro Empresas</h2>
    <form action="/registro/crear" method="POST">
        {% csrf_token %}
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" placeholder="nombre de la empresa">
        <label for="rubro">rubro</label>
        <input type="text" name="rubro" placeholder="rubro de la empresa">
        <label for="rut">rut empresa</label>
        <input type="number" name="rut" placeholder="rut de la empresa">
        <input type="submit" value="guardar">
    </form>
</body>
</html>